* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.gameArea {
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 700px;
  position: relative;
}

.gameArea-InfoAndCtrl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 30px;
  background-color: chocolate;
}

.gameArea-InfoAndCtrl-menuBtn {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  opacity: 0.8;
}

.gameArea-InfoAndCtrl-menuBtn:hover {
  cursor: pointer;
}

.gameArea-InfoAndCtrl-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

.gameArea-puzzle {
  height: 700px;
  width: 700px;
  background-color: brown;
}

.gameArea-menu {
  list-style-type: none;
  height: 700px;
  width: 700px;
  background-color: burlywood;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 30px;
  left: 0px;
  opacity: 0,9;
  display: flex;
  position: absolute;
}

@-webkit-keyframes menu-hide {
  0% {
    left: 0px;
    opacity: 0.5;
    display: -webkit-box;
    display: flex;
  }
  25% {
    left: calc(-0.25 * 700px);
    opacity: 0.4;
    display: -webkit-box;
    display: flex;
    position: absolute;
  }
  50% {
    left: calc(-0.5 * 700px);
    opacity: 0.3;
    display: -webkit-box;
    display: flex;
    position: absolute;
  }
  50% {
    left: calc(-0.75 * 700px);
    opacity: 0.2;
    display: -webkit-box;
    display: flex;
    position: absolute;
  }
  100% {
    left: calc(-1 * 700px);
    opacity: 0;
    display: -webkit-box;
    display: flex;
    position: absolute;
  }
}

@keyframes menu-hide {
  0% {
    left: 0px;
    opacity: 0.5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  25% {
    left: calc(-0.25 * 700px);
    opacity: 0.4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
  }
  50% {
    left: calc(-0.5 * 700px);
    opacity: 0.3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
  }
  50% {
    left: calc(-0.75 * 700px);
    opacity: 0.2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
  }
  100% {
    left: calc(-1 * 700px);
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
  }
}

@-webkit-keyframes menu-show {
  0% {
    left: calc(-1 * 700px);
    opacity: 0;
    display: none;
    position: absolute;
  }
  50% {
    left: calc(-0.5 * 700px);
    opacity: 0.3;
    display: -webkit-box;
    display: flex;
    position: absolute;
  }
  25% {
    left: calc(-0.75 * 700px);
    opacity: 0.2;
    display: -webkit-box;
    display: flex;
    position: absolute;
  }
  75% {
    left: calc(-0.25 * 700px);
    opacity: 0.4;
    display: -webkit-box;
    display: flex;
    position: absolute;
  }
  100% {
    left: 0px;
    opacity: 0.5;
    display: -webkit-box;
    display: flex;
  }
}

@keyframes menu-show {
  0% {
    left: calc(-1 * 700px);
    opacity: 0;
    display: none;
    position: absolute;
  }
  50% {
    left: calc(-0.5 * 700px);
    opacity: 0.3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
  }
  25% {
    left: calc(-0.75 * 700px);
    opacity: 0.2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
  }
  75% {
    left: calc(-0.25 * 700px);
    opacity: 0.4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
  }
  100% {
    left: 0px;
    opacity: 0.5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.gameArea-menu_visible {
  -webkit-animation: menu-show 0.2s linear;
          animation: menu-show 0.2s linear;
}

.gameArea-menu_invisible {
  -webkit-animation: menu-hide 0.2s linear;
          animation: menu-hide 0.2s linear;
  left: calc(-1 * 700px);
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
}

.gameArea-menu-item {
  text-align: center;
  font-size: 20px;
}

.gameArea-menu-item:hover {
  cursor: pointer;
}

.gameArea-menu-item_active {
  opacity: 1;
}

.gameArea-menu-item_inactive {
  opacity: 0.5;
}
/*# sourceMappingURL=style.css.map */