$interactiveAeaSize: 700px;
$InfoAndCtrlHeight: 30px;
*{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}
.gameArea{
	margin: 0px auto;
	display: flex;
	flex-direction: column;
	width: 700px;
	position: relative;
	&-InfoAndCtrl{
		display: flex;
		justify-content: space-between;
		height: $InfoAndCtrlHeight;
		background-color: chocolate;
		&-menuBtn{
			flex-basis: 20%;
			opacity: 0.8;
			&:hover{
				cursor: pointer;
			}
		}
		&-info{
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			align-items: center;
			flex-basis: 80%;
		}
	}
	&-puzzle{
		height: $interactiveAeaSize;
		width: $interactiveAeaSize;
		background-color: brown;
	}
	&-menu{
		list-style-type: none;
		height: $interactiveAeaSize;
		width: $interactiveAeaSize;
		background-color: burlywood;
		display: flex;
		justify-content: center;
		align-items: center;
		top: $InfoAndCtrlHeight;
		left: 0px;
		opacity: 0,9;
		display: flex;
		position: absolute;

		@keyframes menu-hide {
			0% {left: 0px; opacity: 0.5; display: flex;}
			25% {left: calc(-0.25 * #{$interactiveAeaSize}); opacity: 0.4; display: flex;position: absolute;}
			50% {left: calc(-0.5 * #{$interactiveAeaSize}); opacity: 0.3; display: flex;position: absolute;}
			50% {left: calc(-0.75 * #{$interactiveAeaSize}); opacity: 0.2; display: flex;position: absolute;}
			100% {left: calc(-1 * #{$interactiveAeaSize}); opacity: 0; display: flex;position: absolute;}
		}
		@keyframes menu-show {
			0% {left: calc(-1 * #{$interactiveAeaSize}); opacity: 0; display: none;position: absolute;}
			50% {left: calc(-0.5 * #{$interactiveAeaSize}); opacity: 0.3; display: flex;position: absolute;}
			25% {left: calc(-0.75 * #{$interactiveAeaSize}); opacity: 0.2; display: flex;position: absolute;}
			75% {left: calc(-0.25 * #{$interactiveAeaSize}); opacity: 0.4; display: flex;position: absolute;}
			100% {left: 0px; opacity: 0.5; display: flex;}
		}
		 &_visible{
		 	animation: menu-show 0.2s linear;
		 }
		&_invisible{
			animation: menu-hide 0.2s linear;
			left: calc(-1 * #{$interactiveAeaSize});
			opacity: 0;
			display: flex;
			position: absolute;
		}
		&-item{
			text-align: center;
			font-size: 20px;
			&:hover{
				cursor: pointer;
			}
		}
		&-item_active{
			opacity: 1;
		}
		&-item_inactive{
 			opacity: 0.5;
 		}
	}
}

