@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    /* width: 1600px;
    height: 744px; */
    margin: auto;
    font-family: 'Roboto', sans-serif;
}
.mainPage{
    background-image: url(/assets/bg-image.png);
    width: 1600px;
    height: 744px;

}
nav{
    padding-right: 14px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
h1{
display: none;
}
.navMenu{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
    opacity: 0.8;
    text-decoration: none;
}
header{
    height: 95px;
}

.interactiveAbout:hover{
    background-color: whitesmoke;
    color: black;
}
.mainPageBody{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 2px;
}
.H2_mainPage{
    width: 734px;
    height: 75px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
     padding-top: 134px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 4.5px;
    text-transform: uppercase;
    margin: auto;
    color: #FFFFFF;
}
.p_mainPage{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    width: 504px;
    height: 50px;
    margin-top: 22px;
    margin-bottom: 30px;
}
.get_started{
    width: 184px;
    height: 46px;
    background: #00AFDB;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    align-items: center;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.get_started:hover{
    background: #009CC2;

}
.socials{
    margin-top: 183px;
    width: 170px;
    height: 20px;
    bottom: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.socials:hover{
    cursor: pointer;
}
.socials_round{
    border-radius: 50%;
    width: 17px;
    height: 17px;

    border: 1.5px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.rappr{
    width: 1062px;
    height: 842px;
    display: flex;
    justify-content: space-between;
    margin-left: 269px;
    align-items: flex-start;
}
.rappr_TaB{
    margin-top: 295px;
    width: 407px;
    height: 233px;
}
.rappr_TaB_h2{
    width: 370px;
    height: 57px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
    margin-top: 0px;
    margin-bottom: 21px;
}
.rappr_TaB_p{
    width: 407px;
    height: 80px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 143%;
    color: #4E4E4E;
    margin-top: 20px;
    margin-bottom: 30px;
}

.rapr_Img{
    margin-top: 120px;
}
.block3{
    width: 1600px;
    height: 504px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.block3_User{
    width: 298px;
    height: 176px;
    margin: 155px 0px 174px 269px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.block3_h2{
    width: 163px;
    height: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin: 9px -2px 0px 0px;
}
.block3_p{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    color: #4E4E4E;
    margin: 0px 0px;
}
.block3_ImgWrapr{
    width: 894px;
    height: 364px;
}
.left-arrow{
    width: 9px;
    height: 14px;
    padding-left:543px;
}
.right-arrow{
    width: 9px;
    height: 14px;
    padding-left:16px;
    padding-right:271px;
}
.block3-href :hover{

    cursor: pointer;
    opacity: 0.5;

}
.block3_ImgWrap_Navigation{
    height: 17px;
    padding-top: 82px;
    padding-bottom: 20px;
    display: flex;
}
.block3_ImgWrapr_images{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.block3_ImgWrapr_image{
    padding-right: 30px;
}
.implementRC{
    width: 1600px;
    height: 842px;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
/* border: 1px solid; */
}
.implementRC-img{
    padding:  120px 139px 140px 269px;
    width: 407px;
    height: 582px;
}
.implementRC-Content{
    padding: 319px 378px 339px 0px;
    width: 407px;
    height: 185px;
    display: flex;
    flex-direction: column;
}
.implementRC-Content-h2{
    margin: 0px 0px 21px 0px;
    width: 298px;
    height: 28px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #373737;
}
.implementRC-Content-p{
    width: 407px;
    height: 60px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 145%;
    color: #4E4E4E;
    margin: 0px 0px 29px 0px;
}
.implementRC-Content-learnMore{
    width: 180px;
    height: 46px;
    background: #00AFDB;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.SignUp{
    width: 1600px;
    height: 524px;
    background-image: url(/assets/pexels-christina-morillo.png);
    display: flex;
    align-items: center;
    justify-content: center;
}
.formEmail{
        margin: 200px 597px 220px 597px;
        /* border: 1px solid red; */
        display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.formEmail-h2{
    width: 381px;
height: 28px;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
text-align: center;
letter-spacing: 1px;
text-transform: uppercase;
color: #FFFFFF;
margin: 0px 0px 30px 0px;
align-items: center;
/* border: 1px solid; */
}
.formEmailForm{
    border: 1px solid;
    /* width: 340px;
    height: 46px; */

display: flex;
/* justify-content: ; */

align-items: center;
}
input{
    /* border: 1px solid; */
    width: 336px;
    height: 44px;
    background: #FFFFFF;
border-radius: 0px;
border: none;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 140%;
color: #373737;

/* opacity: 0.5; */
}
button{
    border: none;
    width: 64px;
height: 46px;
background-color: #00AFDB;
border-radius: 0px;
padding: 0px 0px 0px 0px;

}
button :hover{

    cursor: pointer;

}
.download{
    width: 1600px;
height: 464px;
position: relative;
}
.download-h2{
    position: absolute;
width: 250px;
height: 28px;
left: 675px;
top: 120px;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
/* display: flex;
align-items: flex-end; */
text-align: center;
letter-spacing: 1px;
text-transform: uppercase;

columns: #373737;

}
.download-p{
    position: absolute;
width: 480px;
height: 40px;
left: 560px;
top: 168px;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 140%;
text-align: center;
color: #4E4E4E;
}
.download-apple{
    width: 186px;
    height: 46px;
    position: absolute;
    left: 299px;
    top: 238px;
    background: #00AFDB;
}
.apple-img{
    width: 59px;
height: 46px;
display: flex;
align-content: flex-end;
}
.download-market{
    width: 186px;
    height: 46px;
    position: absolute;
}
footer{
    width: 1600px;
height: 185px;
background: #000000;
/* display: flex;
    justify-content: center;
    align-items: flex-start; */



/* body-14-reg */


font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 140%;
/* identical to box height, or 20px */

position: relative;
color: #FFFFFF;
}
.wrapF{
    position: absolute;
    width: 236px;
    height: 20px;
    left: 0px;
    top: 0px;
}
.wrapFText1{
    position: absolute;
    width: 45px;
    height: 20px;
    left: 160px;
    top: 73px;

}
.wrapFText2{
    position: absolute;
    width: 46px;
    height: 20px;
    left: 245px;
    top: 73px;
}
.wrapFText3{
    position: absolute;
    width:65px;
    height: 20px;
    left: 331px;
    top: 73px;
}
.f4{
    position: absolute;
    width:44px;
    height: 45px;
    left: 778px;
    top:60px;
}